._*
.DS_Store
build

build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/src
build/test

.vscode/settings.json
.ionide/symbolCache.db

src/cpp/obsolete/
tests/cpp/obsolete/

*.swp

CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Testing/
_CPack_Packages/
install_manifest.txt
dist/

.cache
.vscode

ext/xWindows_x86_64
ext/Windows_x86_64
ext/Linux_x86_64
ext/Darwin_arm64
ext/_ccache
ext/boost_*
ext/zlib-*
ext/w64devkit*

